
@media(max-width: 992px) {
    .custom_nav-container .nav_search-btn {
        display: none;
    }

    .service_section::before {
        bottom: 45px;
    }

    .service_section .service_container {
        padding: 45px 0 125px 0;
    }

    .service_section .box.b-2 .detail-box,
    .service_section .box.b-3 .detail-box {
        width: 100%;
    }

    .service_images {
        width: 80%;
    }

    .contactUs {
        padding: 10px;
    }

    .box {
        grid-template-columns: 1fr;
        grid-template-rows: 50%;
        grid-template-areas:
            "form"
            "info"
            "map";
        
        justify-content: center;
        align-items: center;
    }

    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
        
    }

    .inputBox {
        width: 100%;
        display: inline-flex;
        align-items: center;
    }

    .contact {
        padding: 10px;
        width: 100%;
    }

    .contact.map{
        width: 100%;
        height: 700px;
    }
    .info_section.layout_padding{
        height: 1300px;
    }
}

@media (max-width: 768px) {
    .slider_section .detail-box {
        text-align: center;
        margin-top: 25px;
    }

    .info_section .col-md-3 {
        text-align: center;
    }

    .info_section .col-md-3:not(:nth-last-child(1)) {
        margin-bottom: 35px;
    }

    .service_section .box.b-1 .detail-box {
        text-align: left;
    }

    .service_section .box.b-4 .detail-box {
        text-align: right;
    }

    .service_section .box {
        margin: 25px 0;
    }

    .info_section .info-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .client_section .client_container {
        width: 100%;
    }

    .service_images {
        width: 80%;
    }

    .gallery_service div {
        display: none;
    }

    .gallery_service {
        height: 0;
        margin: 0;
        padding: 0;
    }

    .nav-options {
        justify-content: flex-start;
    }

    .nav-options ul {
        width: 100%;
        display: block;
    }

    .nav-options ul li {
        width: 100%;
        text-align: left;
        margin: 5px 0;
    }

    .imglogocontac {
        display: none;
        height: 0;
        margin: 0;
        padding: 0;
    }

    .imgabout1 {
        display: none;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 576px) {
    .slider_section .detail-box h1 {
        font-size: 3.5rem;
    }

    .about_section .img-box img {
        width: 100%;
    }

    @keyframes odd-box-animate {
        0% {
            transform: translateY(25px);
        }
        50% {
            transform: translateY(-25px);
        }
        100% {
            transform: translateY(25px);
        }
    }

    @keyframes even-box-animate {
        0% {
            transform: translateY(-25px);
        }
        50% {
            transform: translateY(25px);
        }
        100% {
            transform: translateY(-25px);
        }
    }

    .work_section .work_container .box.b-1,
    .work_section .work_container .box.b-2,
    .work_section .work_container .box.b-3,
    .work_section .work_container .box.b-4 {
        animation-duration: 1.5s;
    }

    .service_images {
        width: 80%;
    }
}

@media (max-width: 420px) {

    .contact.form h3 {
        font-size: 1.2rem;
        padding: 0 10px;
        line-height: 1.2;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .slider_section .detail-box h1 {
        font-size: 3rem;
    }

    .custom_heading-container h3 {
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
        position: relative;
        font-size: 1.2rem;
        
    }

    .service_images {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .service_images {
        width: 80%;
    }

}

@media (max-width: 412px) {
    /* Página contact */
    .contact.form h3 {
        font-size: 0.9rem;
        text-align: center;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .contact.info h3
    {
        font-size: 1.2rem;
    }
    .contact.info p,
    .contact.info a {
        text-align: center; 
        font-size: 1.5rem;
    }       

    .contactUs .titlecontac h2 {
        font-size: 1.2rem;
        padding: 0 15px;
    }
  
    .formBox .row50 {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    .inputBox {
      width: 100%;
      display: inline-flex;
      align-items: left;
    }

    .infoBox {
        flex-direction: column;
        gap: 20px;
        margin-left:10px;
      }

    .contact.form {
      width: 100%;
      height: auto;
    }

    .contact.info{
        padding-left: 25%;
        align-items: center;
    } 
  
    .contact.map {
      width: 100%;
      height: 540px;
    }
  
    .container {
      width: 100%;
    }

    #btn-file {
        word-break: break-all;
        
    }
  
    /* Home */
    .gallery img {
      max-width: 35% !important;
      width: 35%;
    }
  
    /* Footer */
    .info_section.layout_padding {
      width: 100%;
      padding: 5%;
      height: 1400px;
    }
  
    /* Header */
    .header_section {
      max-width: 100% !important;
    }
  
    .container-fluid {
      width: 100%;
    }
}
