/*Barra Redes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container-bar {
  width: 100%;
  max-width: 50px;
  position: fixed;
  left: 0;
  top: 25%;
  z-index: 9999;
}

.container-bar a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  transition: all 500ms ease;
  color: #fff;
}

.container-bar a:hover {
  background: #1c1c1c;

}

.container-bar .fa-facebook {
  background: #3b5998;
  border-radius: 0px 5px 0px 0px;
}

.container-bar .fa-instagram {
  background: #ff00d0;
}


.container-bar .fa-envelope {
  background: #ee0000;
}

.container-bar .fa-whatsapp {
  background: #2ccd1e;
  border-radius: 0px 0px 5px 0px;
}

.container-bar #title {
  position: absolute;
  background: #1c1c1c;
  padding: 0px 8px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 15px;
  top: 12px;
  left: 0px;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.container-bar a:hover #title {
  opacity: 1;
  visibility: visible;
  left: 64px;
}

.container-bar #title:after {
  position: absolute;
  content: '';
  border-left: 7px solid transparent;
  border-right: 6px solid #1c1c1c;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  right: 100%;
  top: 8px;
}

#btn-social {
  display: none;
}

.fa-play {
  cursor: pointer;
  transition: all 0.4s;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  transform: rotate(180deg);
  color: #49b0e6;
}

#btn-social:checked~ .fa-play {
  transform: rotate(0deg);
}

.icon-social {
  transition: all 0.4s;
  transform: translateX(0%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

#btn-social:checked~ .icon-social {
  transform: translateX(-100%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.0);
}
/*End barra Redes*/

/*Seccion Contacto*/
.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .titlecontac {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.contactUs .titlecontac h2 {
  color: black;
  font-weight: 600;
}


.form {
  height: auto;
  grid-area: form;
}

.info {
  grid-area: info;
  height: auto;
  background-color: #023047 !important;
}

.map {
  grid-area: map;
  height: auto;
}


.contact {
  padding: 40px;
  background: #023047;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact h3 {
  color: #ffff;
  font-weight: 500;
  font-size: 1.4em;
  margin-top: 10px;
}

/*Formulario*/

.formBox {
  position: relative;
  width: 100%;

}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formBox .row100 .inputBox {

  width: 100%;
}

.formBox .row50 .inputBox {
  width: 100%;
}


.inputBox span {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.inputBox select {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.contenedor-btn-file input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.contenedor-btn-file {
  display: inline-block;
  position: relative;
  background-color: #186CC3;
  color: #ffffff;
  border: 0;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  overflow: hidden;
  transition: ease-out 120ms background-color;
}

.contenedor-btn-file:hover {
  background-color: #16579B;
}

.contenedor-btn-file:active {
  background-color: #114378;
}

.contenedor-btn-file>i {
  margin-right: 15px;
}

.contenedor-btn-file label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}

.contenedor-btn-file.bordeado {
  background-color: #fff;
  border: 2px solid #186CC3;
  color: #186CC3;
}

.contenedor-btn-file.bordeado:hover {
  background-color: #186CC3;
  color: #fff;
}


/*boton check*/
input[type=checkbox].toggle {
  display: none;
}

input[type=checkbox].toggle+label {
  display: inline-block;
  height: 60px;
  width: 200px;
  position: relative;
  font-size: 20px;
  border: 4px solid white;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input[type=checkbox].toggle+label:before {
  position: absolute;
  top: 4px;
  height: 44px;
  width: 44px;
  content: '';
  transition: all 0.3s ease;
  z-index: 3;
}

input[type=checkbox].toggle+label:after {
  width: 140px;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}

input[type=checkbox].toggle+label.check {
  border-radius: 30px;
}

input[type=checkbox].toggle+label.check:before {
  border-radius: 50%;
}

input[type=checkbox].toggle:not(:checked)+label {
  background-color: #8ECAE6;
  text-align: right;
}

input[type=checkbox].toggle:not(:checked)+label:after {
  content: attr(data-unchecked);
  right: 0;
  left: auto;
  opacity: 1;
  color: white;
}

input[type=checkbox].toggle:not(:checked)+label:before {
  left: 4px;
  background-color: white;
}

input[type=checkbox].toggle:checked+label {
  text-align: left;
  border-color: white;
  background-color: #023047;
}

input[type=checkbox].toggle:checked+label:after {
  content: attr(data-checked);
  left: 4px;
  right: auto;
  opacity: 1;
  color: white;
}

input[type=checkbox].toggle:checked+label:before {
  left: 144px;
  background-color: white;
}

/*Boton "Enviar"*/
.inputBox input[type="submit"] {
  background-color: #08365a;
  color: #ffffff;
  border: none;
  font-size: 1.1em;
  width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputBox ::placeholder {
  color: #999;
}

/*Informacion de contacto*/


.info {
  background-color: #01436d;
}

.info h3 {
  color: white;
}

.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: white;
  background: #219EBC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infoBox div p {
  color: white;
  font-size: 1.1em;
}

.info .infoBox div a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.sci {
  margin-top: 40px;
  display: flex;
}

.sci li {
  list-style: none;
  margin-right: 15px;
}

.sci li a {
  color: white;
  font-size: 2em;
  color: #ccc;
}

.sci li a:hover {
  color: white;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/*Responsive dessing*/
@media (max-width: 991px) {
  .contactUs {
    padding: 20px;
  }

  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
    display: inline-flex;
    align-items: center;
  }

  .contact {
    padding: 30px;
    width: auto !important;
  }

  .map {
    width: auto !important;
    min-height: 300px;
    padding: 0;
  }
}

/*End Secciion Contacto*/

body {
  color: #6c8df8;
  background-color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .body {
    font-size: 15px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*Titulos secciones*/
.titulos_secciones {
  justify-content: center;
  text-align: center;
  font-size: 45px;
  color: #000000;
  font-weight: bold;
}

/*Cambiar tamaño de línea debajo de títulos
  height: 7px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #4aadcd;
  border-radius: 15px;*/
/*End titulos secciones*/

.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-box a {
  color: #1d1d1d;
  margin-right: 15px;
  font-size: 18px;
}

.btn-box hr {
  width: 75px;
  height: 1.2px;
  border: none;
  background-color: #464646;
  margin: 0;
}

/*header section*/
.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  background-color: #023047;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 40px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.custom_nav-container .navbar-nav .nav-item .nav-link::before {
  content: "";
  display: none;
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 17px;
  height: 4px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #219ebc;
  border-radius: 5px;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover::before {
  display: block;
}

.custom_nav-container .navbar-nav .nav-item.active a::before {
  display: block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand img {
  width: 45px;
  margin-right: 15px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 27px;
  color: #ffffff;
}

.custom_nav-container {
  z-index: 9999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 42px;
}

header ul li {

  position: relative;
  list-style: none;
  float: left;

}

header ul li a {

  color: white;
  font-size: 1.1em;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;


}

header ul li ul {

  color: white;
  position: absolute;
  left: 0;
  width: 200px;
  background: #023047;
  display: none;

}

header ul li:hover ul {

  color: white;
  display: block;

}

header ul li ul li {
  color: white;
  position: relative;
  width: 100%;
  outline: none;

}

/*Responsive*/
@media (max-width: 900px) {

  header nav {
    position: absolute;
    width: 100%;
    left: 0;
    background: #023047;
  }

  header nav ul li {
    width: 100%;
  }

  header nav ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }


}



/* Margen Galería de fotos*/
.service_section .service_container .col-md-3 {
  margin-top: 15px;
}

.center-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Alinear títulos de tablas*/
table th {
  text-align: center;
}

.box-table {
  width: 50%;
}

.service_section .custom_heading-container {
  margin-bottom: 15px;
}

.service_section .service_container {
  padding: 45px 0 75px 0;
}

.service_section .box.b-2 .detail-box {
  width: 60%;
  text-align: right;
  overflow: hidden;
}

.service_section .box.b-2 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-2 .detail-box a {
  min-width: 100px;
}

.service_section .box.b-3 .detail-box {
  width: 70%;
  margin-left: auto;
  overflow: hidden;
  text-align: left;
}

.service_section .box.b-3 .detail-box p {
  height: 52px;
  overflow: hidden;
}

.service_section .box.b-3 .detail-box a {
  min-width: 100px;
}

.service_section .img-box img {
  height: 200px;
}

.service_section .detail-box {
  height: 118px;
  margin-top: 10px;
}

.service_section .detail-box h6 {
  font-weight: bold;
}

.service_section .detail-box .btn-box a {
  color: #4aadcd;
}

.service_section .detail-box .btn-box hr {
  background-color: #4aadcd;
}

.service_section::before {
  content: "";
  width: 178px;
  height: 130px;
  position: absolute;
  bottom: 80px;
  left: 49%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-size: contain;
  /* background-image: url(../images/Logo.png); */
}

.bgcolor_section {
  background-color: #4aadcd;
}

.bgcolor_section .custom_heading-container h3 {
  color: #fff;
}

.bgcolor_section .custom_heading-container h3::before {
  background-color: #01436d;
}

@-webkit-keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }

  50% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }

  100% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
}

@keyframes odd-box-animate {
  0% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }

  50% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }

  100% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }
}

@-webkit-keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }

  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }

  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

@keyframes even-box-animate {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }

  50% {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
  }

  100% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
  }
}

.contact_section input,
.contact_section textarea,
.contact_section select {
  width: 100%;
  border: 0;
  padding: 15px 12px;
  background-color: #f2f2f2;
  outline: none;
  margin: 10px 0;
}

.contact_section input::-webkit-input-placeholder,
.contact_section select::-webkit-input-placeholder {
  color: #3a3a3a;
}

.contact_section input:-ms-input-placeholder,
.contact_section select:-ms-input-placeholder {
  color: #3a3a3a;
}

.contact_section input::-ms-input-placeholder,
.contact_section select::-ms-input-placeholder {
  color: #3a3a3a;
}

.contact_section input::placeholder,
.contact_section select::placeholder {
  color: #3a3a3a;
}

.contact_section button {
  background-color: #ff4f5a;
  padding: 12px 55px;
  outline: none;
  border: none;
  border: 1px solid #ff4f5a;
  color: #fff;
  margin-top: 25px;
}

.contact_section button:hover {
  color: #ff4f5a;
  background-color: transparent;
}


/*BANNER ABOUT*/
h7 {
  font-weight: 700;
  font-size: 4em;
  color: #ffffff;
}

.bannerabout {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  text-align: center;
}

#sec0.bannerabout {
  /*background-image: url('../images/giintape.gif') !important;
  background-size: cover;  
  min-height: 500px;*/
  position: relative;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}
#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  }

#sec1.textabout {
  background-color: #8ECAE6;
  height: 100%;
}

#sec2.textabout {
  background-color: #8ECAE6;
  height: 100%;
}

#sec3.bannerabout {
  /*background-image: url('../images/giintape.gif') !important;
  background-size: cover;  
  min-height: 500px;*/
  position: relative;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#sec4.textabout {
  background-color: white;
  height: 100%;
}

#sec5.textabout {
  background-color: white;
  height: 100%;
}

#sec6.textabout {
  background-color: white;
  height: 100%;
}

.banner_descripcion {
  position: relative;
  z-index: 1; 
  width: 90%;
  max-width: 1000px;
  display: block;
  margin: auto;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 10px;
}


.bannerabout a {
  display: inline-block;
  padding: 7px 0;
  color: #ffffffff !important;
  text-decoration: none;
  width: 150px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #023047 !important;
}

.banner_descripcion p{
  position: center fixed;
  font-weight: 300;
  margin-bottom: 15px;
  color: #00000000;
  text-align: center;
}


.bannerabout h7 {
  color: #023047;
}


/*FIN BANNER ABOUT*/

/*TEXT ABOUT*/
html {
  scroll-behavior: smooth;
}

.textabout {
  margin: 40 40 40 40;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: center;
}



.textabout h2 {
  position: center fixed;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #080808;
  text-align: center;
  color: black ; 
  border-radius: 10px;
}

.textabout p {
  position: center fixed;
  font-weight: 300;
  margin-bottom: 15px;
  color: #000000;
  text-align: justify;
  border-radius: 20px;
}



.textabout img {
  height: 50%;
  width: 50%;
  margin-left: 40px;
  margin-right: 40px;
}



.botonLeer {
  background-color: #023047 !important;
  color: white;
}

@media screen and (max-width:1150px) {
  .textabout {
    flex-direction: column;
    justify-content: center;
  }

  .textabout>img {
    height: 40%;
  }

  .textabout_descripcion {
    text-align: center;
  }
}

@media screen and (max-width:600px) {

  .textabout>img {
    height: 25%;
  }

}

/*FIN TEXT ABOUT*/

/* Carrusel Clientes*/
.carousel-clientes {
  align-items: center;
  display: flex;
  justify-content: center;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/*CARRUCEL CLIENTES INDEX*/
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  border: #f7f7f7 solid 1px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

/*END CARRUCEL CLIENTES INDEX*/

/*SECCIONES SCROOL MK*/
.seccionmk{
  background-color: #ffb703;

}

.seccionmk a{
  display: inline-block;
  padding: 7px 0;
  text-decoration: none;
  width: 260px;
  text-align: center;
  border-radius: 5px;
}

/*END SECCIONES SCROOL MK*/

/*TARJETAS DE PRECIOS*/
.contenedorprecios {
  width: 100%;
  min-height: 100vh;
  
}

.contenedorprecios h1 {
  color: #000000;
  font-size: 32px;
  padding: 50px 0;
  text-align: center;
  font-weight: 800;
}

.price-row {
  height: auto;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

.price-col {
  background: rgba(255, 255, 255, 0.174);
  padding: 10% 15%;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.price-col p {
  font-size: 35px;
  font-weight: 700;
  color: black;
}

.price-col h2 {
  font-size: 18px;
  margin: 20px 0 20px;
  text-align: center;
  color: black;
}

.price-col h3 {
  font-size: 40px;
  margin: 20px 0 40px;
  font-weight: 600;
  color: black;
}

.price-col h3 span {
  font-size: 16px;
  color: black;
}

.price-col ul {
  text-align: left;
  margin: 20px 0;
  color: #000000;
  list-style: none;
}

.price-col ul li {
  margin: 15px 0;
}

.price-col ul li::before {
  content: '\2022';
  color: #fb8500;
  font-weight: bold;
  margin-right: 8px;
}

.price-col button {
  width: 100%;
  padding: 14px 0;
  background: transparent;
  color: #000000;
  font-size: 15px;
  border: 1px solid #fb8500;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

.price-col button:hover {
  background: #fb8500;
}

.price-col input {
  display: none;
}

.price-col .detailsmk {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.price-col input:checked ~ .detailsmk {
  max-height: 100%;
}

.price-col label {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

@media (max-width: 600px) {
  .price-col {
    width: 100%;
  }
}
/*END TARJETAS DE PRECIOS*/


/*PORTAFOLIO MK*/

.Carouselmk{
  width: 100%;
  background-color: #ffb703;
}
.Carouselmk h1{
  text-align: center;
  color: #000000;
}
.Carouselmk h2{
  font-size: 26px;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: .9;
  letter-spacing: 10px;
  text-align: center;
}
/* images */

.slick-list{
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}
.slick{
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.slick h4{
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}
.slick h4 small{
  font-size: 15px;
  display: block;
}
.slick a img{
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  transition: .3s ease-in-out;
}
.slick a img:hover{
  opacity: .85;
}

/* buttons */

.slick-arrow{
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus{
  outline: 0;
}
.slick-arrow svg{
  width: 12px;
  height: 100%;
  color: rgba(0,0,0,.7);
}
.slick-prev{
  left: 0px;
}
.slick-next{
  right: 0px;
}


/*.contenedorportafolio img {
  width: 100%;
}

.contenedorportafolio {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contenedorportafolio figure{
  width: 300px;
  height: auto;
  overflow: hidden;
  transition: all 50ms ease;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.400);
}

.contenedorportafolio figure img{
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
}

.contenedorportafolio figure img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.contenedorimagenes{
  width: 300px;
  height: auto;
}

.imagenportafolio{
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.400);
}*/

/*END PORTAFOLIO MK*/

/*portafolio desarrollo*/
.containerweb{
  width: 70%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.sliderweb{
  padding: 40px 0;
  background-color: white !important;
}

.slider__containerweb{
  /*display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider__bodyweb{

  display: flex;
  align-items: center;
  transition: opacity 1.5s;
  flex-direction: column;
  text-align: center;
  background-color: white !important;
  width: 100%;
  margin-bottom: 40px;
}

.slider__body--showweb{
  opacity: 1;
  pointer-events: unset;
}

.slider__textsweb{
  margin-bottom: 20px;
}
.slider__vidweb {
  width: 70% !important;
  height: auto; 
}

.clienteDesarrollo {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  flex-wrap: wrap;
}

.textoCliente {
  flex: 1;
  margin-right: 20px;
}

.videoCliente {
  flex: 0 0 auto;
  max-width: 100%;
  margin-right: 20px;
  margin-bottom: 20px; 
}


.contact_section input::-ms-input-placeholder,
.contact_section select::-ms-input-placeholder {
  color: #3a3a3a;
}

.contact_section input::placeholder,
.contact_section select::placeholder {
  color: #3a3a3a;
}

.contact_section button {
  background-color: #ff4f5a;
  padding: 12px 55px;
  outline: none;
  border: none;
  border: 1px solid #ff4f5a;
  color: #fff;
  margin-top: 25px;
}

.contact_section button:hover {
  color: #ff4f5a;
  background-color: transparent;
}

/*BANNER ABOUT*/
h7 {
  font-weight: 700;
  font-size: 4em;
  color: #00000000;
}

.bannerabout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  /*background: url('/images/fondoGiintape.gif') no-repeat center center fixed !important; */
  background-size: cover !important;
  color: #00000000 !important;
}



.bannerabout a {
  display: inline-block;
  padding: 7px 0;
  color: #186CC3;
  text-decoration: none;
  width: 150px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  background: white;
}




/*FIN BANNER ABOUT*/

/*TEXT ABOUT*/
html {
  scroll-behavior: smooth;
}

.textabout {
  margin: 40 40 40 40;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: center;
  background-color: #000000;
}

.textabout_descripcion{
  height: auto;
  width: 700px;
  margin-left: 100px;
  margin-right: 100px;
  
}

/*Botones leer más*/
.textabout a {
  display: inline-block;
  padding: 7px 0;
  color: white;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50px;
  background: #023047;
}

@media screen and (max-width:1150px) {
  .textabout {
    flex-direction: column;
    justify-content: center;
  }

  .textabout>img {
    height: 40%;
  }

  .textabout_descripcion {
    text-align: center;
  }
}

@media screen and (max-width:600px) {

  .textabout>img {
    height: 25%;
  }

}

/*FIN TEXT ABOUT*/

/* Carrusel Clientes*/
.carousel-clientes {
  align-items: center;
  display: flex;
  justify-content: center;

}

@media (max-width:768px){
  .slider__bodyweb{
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 1em;
  }


  100% {
    transform: translateX(calc(-250px * 7));

  }
}

@media (max-width:425px){
  .slider__containerweb{
      grid-template-columns: 25px 1fr 25px;
  }


  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/*CARRUCEL CLIENTES INDEX*/
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  border: #f7f7f7 solid 1px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}


/*END CARRUCEL CLIENTES INDEX*/

/*SECCIONES SCROOL MK*/
.seccionmk{
background-color: #fff;
}

.seccionmk a{
  display: inline-block;
  padding: 7px 0;
  text-decoration: none;
  width: 260px;
  text-align: center;
  border-radius: 5px;
}

/*END SECCIONES SCROOL MK*/

/*TARJETAS DE PRECIOS*/
.contenedorprecios {
  width: 100%;
  min-height: 100vh;
}

.contenedorprecios h1 {
  color: #000000;
  font-size: 32px;
  padding: 50px 0;
  text-align: center;
  font-weight: 800;
}

.price-row {
  height: auto;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  
}

.price-col {
  background: rgba(255, 255, 255, 0.174);
  padding: 10% 15%;
  border-radius: 10px;
  color: black;
  text-align: center;
  border: 2px solid #ffb703
}

.price-col p {
  font-size: 35px;
  font-weight: 700;
  color: black;
}

.price-col h2 {
  font-size: 18px;
  margin: 20px 0 20px;
  text-align: center;
  color: black;
}

.price-col h3 {
  font-size: 40px;
  margin: 20px 0 40px;
  font-weight: 600;
  color: black;
}

.price-col h3 span {
  font-size: 16px;
  color: black;
}

.price-col ul {
  text-align: left;
  margin: 20px 0;
  color: #000000;
  list-style: none;
}

.price-col ul li {
  margin: 15px 0;
}

.price-col ul li::before {
  content: '\2022';
  color: #fb8500;
  font-weight: bold;
  margin-right: 8px;
}

.price-col button {
  width: 100%;
  padding: 14px 0;
  background: transparent;
  color: #000000;
  font-size: 15px;
  border: 1px solid #fb8500;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

.price-col button:hover {
  background: #fb8500;
}

.price-col input {
  display: none;
}

.price-col .detailsmk {
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.price-col input:checked ~ .detailsmk {
  max-height: 100%;
}

.price-col label {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

@media (max-width: 600px) {
  .price-col {
    width: 100%;
  }
}
/*END TARJETAS DE PRECIOS*/


/*PORTAFOLIO MK*/

.Carouselmk{
  width: 100%;
}
.Carouselmk h2{
  color: #000000;
  line-height: 38px;
  padding-bottom: 24px;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

/* images */

.slick-list{
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 304px;
  padding: 10px 0px;
  margin: 0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}
.slick{
  position: relative;
  width: 275px;
  padding: 0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.slick h4{
  position: absolute;
  z-index: 1;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
  padding: 15px;
}
.slick h4 small{
  font-size: 15px;
  display: block;
}
.slick a img{
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  transition: .3s ease-in-out;
}
.slick a img:hover{
  opacity: .85;
}

/* buttons */

.slick-arrow{
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  width: 48px;
  height: 48px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
  border: 0;
  cursor: pointer;
}
.slick-arrow:focus{
  outline: 0;
}
.slick-arrow svg{
  width: 12px;
  height: 100%;
  color: rgba(0,0,0,.7);
}
.slick-prev{
  left: 0px;
}
.slick-next{
  right: 0px;
}

/*portafolio desarrollo*/
.containerweb{
  width: 90%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.sliderweb{
  background-color: #f2f2f2;
  padding: 40px 0;
}

.slider__containerweb{
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}

.slider__bodyweb{
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  background-color: #f2f2f2;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}

.slider__body--showweb{
  opacity: 1;
  pointer-events: unset;
}

.slider__textsweb{
  max-width: 100%;
}

.subtitleweb{
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #219EBC;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.slider__reviewweb{
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  color: #023047;
  
}

.slider__vidweb{
  width: 450px;
  height: auto;
  border-radius: 5%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.slider__arrowweb{
  cursor: pointer;
  width: 90%;
}

.slider__arrowweb:nth-of-type(2){
  justify-self: end;
}

@media (max-width:768px){
  .slider__bodyweb{
      grid-template-columns: 1fr;
      grid-template-rows: max-content 1fr;
      gap: 1em;
  }

  .slider__pictureweb{
      grid-row: 1/2;
  }

  .slider__vidweb{   
      width: 210px;
      height: auto;
  }
}

@media (max-width:425px){
  .slider__containerweb{
      grid-template-columns: 25px 1fr 25px;
  }

  .slider__arrowweb{
     width: 100%;
  }

  .slider__vidweb{   
      width: 180px;
      height: auto;
  }

  .subtitleweb{
      font-size: 2rem;
      margin-bottom: 15px;
  }

  .slider__reviewweb{
      font-size: 1rem;
      line-height: 1.6;
  }
}
/*end portafolio desarrolo*/

.info_section {
  background-color: #023047;
  color: #ffffff;
}

.info_section a {
  color: #ffffff;
}

.info_section h4 {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.container h4 {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}

.info_section .info-logo h2 {
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-right: 15px;
}

.nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_section .info-nav ul {
  padding-left: 15px;
}

.info_section .info-nav ul li {
  list-style-type: none;
  position: relative;
  margin: 3px 0;
}

.info_section .info-nav ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
}

.info_section .info-contact h6 {
  color: #000000;
  font-size: 18px;
}

.info_section .info-contact .call {
  margin-top: 20px;
}

.info_section .info-contact .time {
  margin-top: 20px;
}

.info_section .discover ul {
  padding: 0;
}

.info_section .discover ul li {
  list-style-type: none;
  margin: 5px 0;
}

/*Color títulos h5*/
.container h5 {
  font-weight: bold;
  color: #9cd5f1;
  font-size: 35px;
}

.title-red {
  font-weight: bold;
  color: #023047;
}

.container .bold_ol li {
  font-weight: bold;
}

/*Galería*/
.lightbox-gallery img {
  width: 200px;
  height: 200px;
}

.gallery_service {
  display: flex;
  height: 20rem;
  gap: 1rem;
}

.gallery_service>div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.9s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.gallery_service>div:hover {
  flex: 5;
}


/* Fin css Galería*/

/* Carrusel opinan*/
* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 100%;
}

ul li {
  list-style-type: none;
}

.slider--teams {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 750px;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.slider--teams .slider--teams__team {
  position: relative;
  overflow: hidden;
}

#list {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

#list li {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}

#list li figure {
  cursor: pointer;
  margin: 1em;
  opacity: 0.5;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
  transform: scale(0.5) translateZ(0px);
}

#list li figure:hover {
  opacity: 0.8;
  transform: scale(0.6) translateZ(0px);
}

#list li figure:active {
  opacity: 1;
  transform: scale(0.7) translateZ(0px);
}

#list li figure>div {
  border-radius: 5px;
  position: relative;
  margin: 2rem auto;
  width: 120px;
  height: 120px;
  overflow: hidden;
  transform: rotate(45deg) translateZ(0px);
}

#list li figure>div>div {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/teams.jpg) no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  height: 170px;
  transform: rotate(-45deg) translate(0%, -70%);
}

#list li figure figcaption h2 {
  color: #333;
  font-size: 1.6rem;
  font-weight: 800;
}

#list li figure figcaption p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 400;
}

#list li:nth-child(1) figure>div>div {
  background-position: 0px 0px !important;
}

#list li:nth-child(2) figure>div>div {
  background-position: 0px 20% !important;
}

#list li:nth-child(3) figure>div>div {
  background-position: 0px 40% !important;
}

#list li:nth-child(4) figure>div>div {
  background-position: 0px 60% !important;
}

#list li:nth-child(5) figure>div>div {
  background-position: 0px 80% !important;
}

#list li:nth-child(6) figure>div>div {
  background-position: 0px 100% !important;
}

.active {
  opacity: 1 !important;
  transform: scale(1) translateZ(0px) !important;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}



/* footer section*/
.footer_section {
  background-color: #ffffff;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #171717;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #171717;
}

.info-logo p {
  font-size: 15px;
}

/* end footer section*/

/* Carrusel nuevo CSS */
.container-fluid2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.p-0 {
  padding: 0 !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-indicators li {
  width: 25px;
  height: 25px;
  margin: 0 5px 10px 5px;
  background: transparent;
  border: 1px solid #ffffff;
  transition: 0.5s;
}

.carousel-indicators .active {
  width: 50px;
  background: #ffffff;
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(74, 173, 205, 0.3); */
  background: rgba(1, 67, 109, 0.4);
  z-index: 1;
}

.testimonial-carousel .owl-dots {
  margin-top: 20px;
}

.testimonial-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  background: #fef1ef;
  border: 1px solid #f9a392;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  width: 50px;
  background: #f9a392;
  background: #f9a392;
}

.position-absolute {
  position: absolute !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.d-flex2 {
  display: flex !important;
}

.justify-content-center2 {
  justify-content: center !important;
}

.p-3 {
  padding: 1rem !important;
}

.text-white {
  color: #fff !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mx-md-5 {
  margin-right: 3rem !important;
}

.mx-md-5 {
  margin-left: 3rem !important;
}

.px-5 {
  padding-right: 3rem !important;
}

.px-5 {
  padding-left: 3rem !important;
}

/*Cards en index*/
.container-cardindex {
  width: 100%;
  display: flex;
  max-width: 1500px;
  margin: auto;

}

.title-cardsindex {
  width: 100%;
  max-width: auto;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.cardindex {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.cardindex:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.cardindex img {
  margin-top: 30px;
  width: 150px;
  height: 150px;

}

.cardindex .contenido-cardindex {
  padding: 15px;
  text-align: center;
}

.cardindex .contenido-cardindex h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.cardindex .contenido-cardindex p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.cardindex .contenido-cardindex a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.cardindex .contenido-cardindex a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px) {
  .container-cardindex {
    flex-wrap: wrap;
  }

  .cardindex {
    margin: 15px;
  }
}

/*Fin-Cards*/

/*Fin carrusel nuevo CSS*/
/*# sourceMappingURL=style.css.map */

/*COLOR LETRA BANNER*/
.encal1 {
  color: white;
}

:root{
  /* COLORS */
  --color: #9176FF;
  --bg-color: #f4f4f4;
}


/* ----------- SLIDER ------------ */
.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card {
  width: 650px;
  height: 450px;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 0;
  border: #fff solid 1px;
  margin: 0 2em;

  transition: all .5s ease;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.card__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__image img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.card__title {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: .2em;
}

.card__name {
  color: var(--color);
}

.card__text {
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

.card__btn {
  background-color: var(--color);
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: .5em;
  border-radius: .5em;
  margin-top: .5em;
  cursor: pointer;
}

.menu {
  text-align: center;
  margin-bottom: 20px;
}

.menu button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #8ECAE6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.menu button.active {
  background-color: #219EBC;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 10%;
}

#Clientes{
  filter: grayscale(100%);
}
#Clientes:hover{
  filter: grayscale(0%);
}

.gallery img {
  flex: 1 1 calc(33% - 10px); 
  max-width: calc(15% - 10px);
  height: calc(15% - 10px);
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.containerClientes {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}


/*Estilos checkbox aviso de privacidad*/
.inputBox label {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.inputBox a {
color: #023047;
}

.inputBox a:hover {
  text-decoration: underline;
  color: white;
}

/* The Modal (background) */
.modalAviso {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  vertical-align: middle !important;
}

/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeAviso {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeAviso:hover,
.closeAviso:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Modal de imagen carrousel de Marketing*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



/* Slider Clientes Mk*/

.gallery-container.clients {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery img {
  width: 20vw;
  height: auto;
  scroll-snap-align: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.modal.clientesMk {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
/*fin slider clientes Mk*/

/*Tabla Planes marketing*/
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #fff;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
  color: #fb8500;
}

th, td {
  border: 1px solid #fb8500;
  padding: 12px;
  text-align: center;
  color: #000;
  background-color: white;
  font-size: 18px;
  
}

th {
  background-color: #fb8500;
  color: white;
  border: white;
}

tr{
  background-color: #f2f2f2;
  font-size: 18px;
}

tr:hover {
  background-color: #e0e0e0;
}

.oferta {
  font-size: 24px;
  color: #fb8500;
  font-weight: bold;
}

.mes-gratis {
  font-size: 32px;
  color: #023047;
  font-weight: bold;
}

.tituloTablaMarketing {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.PreciosMarketing th {
  font-size: 26px;
  font-weight: bold;

}

.PlanMasVendido {
  color: #023047;
  font-weight: bold;
}

.PreciosMarketing th.PrecioIdealMk,
.PreciosMarketing td:nth-child(3) {
  background-color: #FFB703;
  color: rgb(5, 5, 5);
}

.PreciosMarketing tr:last-child th.PrecioIdealMk,
.PreciosMarketing tr:last-child td:nth-child(3) {
  background-color: #FFFFFF; 
  color: rgb(5, 5, 5); 
}

.PreciosMarketing tr:first-child th.PrecioIdealMk,
.PreciosMarketing tr:first-child td:nth-child(3) {
  background-color: #FFB703; 
}

.PreciosMarketing th .descripcionPlanMk{
    font-size: 14px;
    color: #f4f4f4;
    margin-top: 4px;
    display: block;
}

.fila-botones {
  border: none;
}

.fila-botones td {
  border: none;
  text-align: center;
  padding: 16px;
}

.PreciosMarketing .celdaBlanca {
  background-color: white !important; 
}

.btn-marketing {
  background-color: #FB8500;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-marketing:hover {
  color: #FB8500;
  background-color: white;
  border: 2px solid #FB8500;
}

.precio-row td {
  font-size: 22px;
}
/*Fin tabla planes Marketing*/

/*Inicia tabla Planes desarrollo web*/
.tablePlanesDesarrollo {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #fff;
}

.tablePlanesDesarrollo th {
  background-color: #023047;
  color: white;
  padding: 10px;
}

.tablePlanesDesarrollo td {
  background-color: white;
  color: rgb(5, 5, 5);
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 18px;
}


.fila-botonesDesarrollo {
  border: none;
}

.fila-botonesDesarrollo td {
  border: none;
  text-align: center;
  padding: 16px;
}



.btn-desarrollo {
  background-color: #023047;
  color: white;
  border: none;
  padding: 12px 24px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-desarrollo:hover {
  color: #023047;
  background-color: white;
  border: 2px solid #023047;
}

.tablePlanesDesarrollo .planesDesarrollo td{
  font-size: 22px;
}

/*Fin tabla Planes desarrollo web*/